.navbar{
    /* min-height: 12vh; */
    font-size: 1.5rem;
    background-color:transparent;
    transition: 0.6s ease-in-out;
}
.navbar.active{
    background-color: rgb(255, 255, 255);
    transition: 0.6s ease-in-out;
    position: fixed;
    max-width: 100%;
    opacity: 100%;

}